<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new product added to Amazon!</p>
    <p>
    item details<br>
    <p>--------------------------</p>
    </p>
    <p>Title: <%= @item.title %></p>
    <p>Description: <%= @item.description %></p>
    <p>Price: $<%= @item.price %></p>
  </body>
</html>